@tailwind base;
@tailwind components;
@tailwind utilities;


    .projectpage {
        display: grid;
        grid-template-rows: 1fr 150px 1fr;
        grid-template-areas: 
           "image text3" 
           "image image2"
           "text2 image2";
        gap: 40px;
    }
    
    .image {
        grid-area: image;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    
    .text2 {
        display: flex;
        align-items: flex-end;
        grid-area: text2;
        text-align: right;
        font-size: 20px;
        font-weight: 300;
    }
    
    .image2 {
        grid-area: image2;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    
    .text3 {
        grid-area: text3;
        text-align: left;
        font-size: 20px;
        font-weight: 300;
    }

